<form [formGroup]="form">
  <div formGroupName="name">
    <label>First name:
      <input formControlName="firstName">
    </label>
    <label>Middle name:
      <input formControlName="middleName">
    </label>
    <label>Last name:
      <input formControlName="lastName">
    </label>
    <br />
    <arv-validation-messages [for]="['firstName', 'middleName', 'lastName']">
      <arv-validation-message for="firstName" key="required">
        Required validation test!!!
      </arv-validation-message>
      <arv-validation-message for="firstName" key="minlength">
        minLength validation test!!!
      </arv-validation-message>
    </arv-validation-messages>
  </div>
  <label>Age:
    <input type="number" formControlName="age">
  </label>
  <arv-validation-messages for="age"></arv-validation-messages>
  <br />
  <input type="submit" />
</form>
<p>Form value: {{ form.value | json }}</p>
<p>Form status: {{ form.status | json }}</p>
